<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
<body>
<header>
    <h1>Shop</h1>
    <nav> 
        <ul>
            <li> 
                <a href="../index.html"> Inicio </a>
            </li>
            <li> 
                <a href="../views/shop.html">Shop</a>
            </li>
            <li>
                 <a href="../views/tutoriales.html">Tutoriales</a>
                </li>
            <li> 
                <a href="../views/sobremi.html">Sobre mí</a>
            </li>
            <li>
                 <a href="../views/contacto.html">Contacto</a>
            </li>
        </ul>
        <a href="../views/iniciosesion.html">Iniciar sesión</a>
</header>   

<main>
    <section>
        <h4>Categorias</h4>
        <ul>
            <li>
                <a href="#">Todos los productos</a>
                </li>
            <li>
                <a href="#">Tops</a>
            </li>
            <li>
                <a href="#">Amigurumis</a>
            </li>
            <li>
                <a href="#">Decoración</a>
            </li>
        </ul>
    </section>
    <section>
        <h4> Color</h4>
        <label for="colores">Multicolor</label>
        <input type="checkbox" name="colores" id="colores" value="Multicolor">
        <label for="colores">Rojo</label>
        <input type="checkbox" name="colores" id="colores" value="Rojo">
        <label for="colores">Blanco</label>
        <input type="checkbox" name="colores" id="colores" value="Blanco">
        <label for="colores">Rosa</label>
        <input type="checkbox" name="colores" id="colores" value="Rosa">
        <label for="colores">Negro</label>
        <input type="checkbox" name="colores" id="colores" value="Negro">
        <label for="colores">Marrón</label>
        <input type="checkbox" name="colores" id="colores" value="Marrón">
        <label for="colores">Naranja</label>
        <input type="checkbox" name="colores" id="colores" value="Naranja">
    </section>
    <section>
        <img src="../img/tops/colorido.jpg" alt="top muchos colores">
        <img src="../img/tops/shop-top2.jpg" alt="top blanco">
        <img src="../img/tops/toprosa.jpg" alt="top rosa">
    </section>
    <section>
        <img src="../img/amig/Harrypotteramigurumi.jpg" alt="personaje Harry Potter">
        <img src="../img/amig/groot.jpg" alt="personaje Groot">
        <img src="../img/amig/fox.jpg" alt="zorro tejido">
    </section>
    <section>
        <img src="../img/deco/sandia.jpg" alt="sandia agarradera">
        <img src="../img/deco/crochet_1.png" alt="colgante tejido">
        <img src="../img/deco/posavasos.jpg" alt="posavasos tejidos">
    </section>
</main>
<footer>
    <p>
        By ARTEjer | <a href="mailto:info@artejer.com">Email de contacto</a>| <a href="https://www.instagram.com/" target="_blank">Instagram</a> | <a href="https://www.facebook.com/ARTEjer44" target="_blank">Facebook</a>
    </p>
</footer>

</body>
</html>